.App {
  text-align: center;
}
.navbar {
  padding: 10px;
  font-size: 30px;
  list-style: none;
  justify-content: space-around;
  background-color: black;
  color: white;
  width: 100%;
  min-height: 40px;
}
.navlinks {
  color: white;
}
